# frontend
/client/node_modules

# backend
/server/node_modules
/server/uploads

# qdrant db storage
/qdrant_storage

# ignore all env files
*.env

# build outputs
/client/.next
/client/out
/server/build
